body {
  font-family: "Sora", sans-serif;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  display: inline-block;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #c9d2da;
  text-decoration: none;
}

/* ====================================common============================================== */

.btn {
  font-weight: 400;
  display: inline-block;
  min-width: 205px;
  padding: 15px 0;
  border-radius: 30px;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
  background: #2e80ce;
  border: none;
  cursor: pointer;
}

.main-content {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 24px);
}

.heading {
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.heading.lv1 {
  max-width: 517px;
}
.heading.lv3 {
  font-size: 1.8rem;
  color: #10375c;
}

.heading.lv2 {
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;

  color: #10375c;
}
.cta-group-arrow {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.cta-group-arrow .arrow-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid #575f66;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
}
.cta-group-arrow .arrow-wrap--active,
.cta-group-arrow .arrow-wrap:hover {
  cursor: pointer;
  background: #2e80ce;
  color: white;
  border: none;
}

/*==================================== header ==================================== */

.header {
  position: sticky;
  z-index: 2;
  left: 0;
  top: -15px;
  padding-top: 15px;
  background: #10375c;
}

.nav-bar {
  display: grid;
  align-items: center;
  padding: 15px 0;
  grid-template-columns: 34.53% 45.73% 19.74%;
}
.nav-bar__cta-group__log-in {
  background: transparent;
  color: #ffffff;
  font-family: "Sora", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  text-align: right;
  color: #c9d2da;
  border: none;
  cursor: pointer;
}
.nav-bar__cta-group .sign-up-btn {
  font-size: 1.6rem;
  line-height: 1.75;
  margin-left: 28px;
  min-width: 104px;
  line-height: 1.75;
  padding: 8px 0;
}

.nav-bar__list {
  display: flex;
}
.nav-bar__list__items a {
  padding: 0 21px;
}
.nav-bar__list__items {
  display: flex;
  align-items: center;
}
.nav-bar__list__items:first-child a {
  font-weight: 400;
  padding-left: 0;
  color: #ffffff;
}

.nav-bar__list__items:first-child::before {
  display: inline-block;
  margin-right: 8px;
  content: "";
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 50%;
}
.nav-bar__list__items:not(.nav-bar__list__items:first-child):hover {
  text-shadow: 1px 0 0 #ffffff;
}

/* ================hezo==================== */

.hezo {
  padding: 61px 0 110px;
  background: #10375c;
  height: calc(100vh - 74px);
}
.hezo-wrap {
  display: grid;
  grid-template-columns: 53.85% 46.15%;
}

.hezo-wrap__content__desc {
  margin-top: 22px;
  max-width: 468px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #c9d2da;
}

.hezo-wrap__content__cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}
.hezo-wrap__content__cta-group span {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #ffffff;
}
.hezo-wrap__img-block {
  position: relative;
  height: 540px;
}
.hezo-wrap__img-block img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 61.797%;
  height: 540px;
  object-fit: cover;
  border-radius: 6px;
  z-index: 1;
}
.hezo-wrap__img-block img:last-child {
  position: absolute;
  right: 0;
  top: 65px;
  width: 39.32%;
  border-radius: 6px;
  height: 410px;
  object-fit: cover;
}

/* =====================services=================== */

.services {
  padding: 170px 0;
}

.services__desc {
  margin: 18px auto 0;
  max-width: 468px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: center;
  color: #575f66;
}
.services__wrap {
  display: grid;
  margin-top: 70px;
  grid-template-columns: 59.83% 40.17%;
}

.services__wrap__img-block img {
  width: 81.43%;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.services__wrap__infor__items {
  padding: 21px 22px;
  display: flex;
  gap: 19px;
  border-radius: 10px;
}
.services__wrap__infor__items:hover {
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.services__wrap__infor__items:hover .img-items {
  background: #2e80ce;
}
.services__wrap__infor__items:hover .img-items svg {
  color: #ffffff;
}
.services__wrap__infor__items .img-items svg {
  color: #10375c;
}

.services__wrap__infor__items .img-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.services__wrap__infor__items .infor-items__desc {
  max-width: 351px;
  margin-top: 8px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #575f66;
}

.services__wrap__infor__btn {
  margin-top: 55px;
}

/* =======================how-works================================ */

.how-works {
  padding: 100px 0;
  background: #f7fbff;
}
.how-works .lv2 {
  text-align: start;
}

.how-works__desc {
  margin-top: 18px;
  max-width: 468px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #575f66;
}

.how-works__list {
  display: grid;
  margin-top: 86px;
  gap: 30px;
  grid-template-columns: repeat(3, 31.62%);
}

.how-works__list__items {
  padding: 43px 42px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
}

.how-works__list__items .lv3 {
  margin-top: 20px;
}
.how-works__list__items__desc {
  margin-top: 28px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #575f66;
}

.how-works__list__items a {
  display: inline-block;
  margin-top: 18px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #575f66;
}
.how-works__list__items:hover {
  transform: translateY(-16px);
  border: 16px solid #2e80ce;
}
.how-works__list__items:hover a {
  color: #2e80ce;
}

/* ==============================about-as================================ */

.about-as {
  padding: 170px 0 85px;
}

.about-as__wrap {
  display: grid;
  grid-template-columns: 48.72% 51.28%;
  align-items: center;
}

.about-as__img-bock {
  position: relative;
  height: 491px;
}

.about-as__img-bock img {
  width: 89.82%;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}

.about-as__img-bock img:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 58.24%;
}

.about-as__infor {
  padding-left: 130px;
}

.about-as__infor .lv2 {
  text-align: start;
}

.about-as__infor__desc {
  margin-top: 18px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #575f66;
}

.about-as__infor__btn {
  margin-top: 38px;
}

/* ==================================team-doctor ====================   */

.team-doctor {
  padding: 85px 0 132px;
}

.team-doctor__cta {
  margin-top: 38px;
  display: flex;
  justify-content: center;
}

.team-doctor__infor {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 23.08%);
  gap: 30px;
}

.team-doctor__infor-items img {
  width: 100%;
  height: 318px;
  object-fit: cover;
  background: #eaf6ff;
  border-radius: 6px;
}
.team-doctor__infor-items .lv3 {
  margin-top: 12px;
  text-align: center;
}

.team-doctor__infor-items__desc {
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: #575f66;
}

/* =================cta-group-infor=================  */

.cta-group-infor__wrap {
  display: grid;
  background: #2e80ce;
  border-radius: 4px;
  grid-template-columns: 30.36% 69.64%;
  align-items: center;
}
.cta-group-infor__img-block {
  position: relative;
  height: 427px;
}

.cta-group-infor__img-block img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.cta-group-infor__content {
  padding-left: 160px;
}

.cta-group-infor__content .lv2 {
  max-width: 489px;
  color: #ffffff;
  text-align: start;
}

.cta-group-infor__content__desc {
  margin-top: 18px;
  max-width: 586px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #ffffff;
}

.cta-group-infor__content__list {
  margin-top: 38px;
  display: flex;
  gap: 50px;
}
.cta-group-infor__content__row {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 7px 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.cta-group-infor__content__row span,
.cta-group-infor__content__row .lv3 {
  color: #ffffff;
}
.cta-group-infor__content__row .lv3 {
  margin-top: 3px;
}

/* ===========================blog ============================ */

.blog {
  padding: 170px 0 85px;
}

.blog .main-content {
  display: grid;
  grid-template-columns: 48.72% 23.08% 23.08%;
  gap: 30px;
}

.blog__infor .lv2 {
  text-align: start;
  max-width: 470px;
}

.blog__infor a {
  margin-top: 28px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.56;
  text-decoration: underline;
  color: #10375c;
}
.blog__infor .cta-group-arrow {
  margin-top: 28px;
  justify-content: flex-start;
}
.blog__items {
  border: 1px solid #e8ebee;
  border-radius: 12px;
}
.blog__items:nth-child(3) {
  box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
}
.blog__items img {
  width: 100%;
  height: 172px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.blog__items__infor {
  padding: 18px 22px 21px;
}

.blog__items .lv3 a {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #10375c;
}

.blog__items__infor__desc {
  margin-top: 10px;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #575f66;
}

.blog__items__infor > a {
  margin-top: 12px;
  font-weight: 400;
  font-size: 1.4rem;
  color: #10375c;
}
.blog__items:nth-child(3) .blog__items__infor > a {
  color: #2e80ce;
}

/* ====================cta-group-end===================== */
.cta-group-end {
  padding: 85px 0 170px;
}
.cta-group-end__wrap {
  padding: 100px 0;
  background: #f7fbff;
}

.cta-group-end__desc {
  margin: 0 auto;
  max-width: 617px;
  margin-top: 18px;
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;
  color: #575f66;
}

.cta-group-end__wrap__btn {
  margin-top: 38px;
}

.cta-group-end__wrap__center {
  display: flex;
  justify-content: center;
}

/* ===========================footer========================= */

.footer {
  background: #10375c;
  padding: 100px 0 42px;
}

.footer__wrap {
  display: grid;
  grid-template-columns: 35.38% 18.12% 18.12% 28.37%;
}

.footer__wrap__items__desc {
  margin-top: 20px;
  max-width: 336px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #a9b3bb;
}

.footer__wrap__items .lv3 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #ffffff;
}

.footer__wrap__items .list {
  margin-top: 20px;
}
.footer__wrap__items .list .items {
  margin-bottom: 10px;
}
.footer__wrap__items .list .items:last-child {
  margin-bottom: 28px;
}
.footer__wrap__items .social {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.footer__wrap__items .social__items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border-radius: 50%;
  margin-bottom: 28px;
}
.footer__wrap__items .social__items:first-child {
  background: #2e80ce;
}

.footer .input_email {
  margin-top: 10px;
  padding: 10px;
  background: #10375c;
  border: 1px solid #406181;
  border-radius: 4px;
}
.footer .summit_email {
  margin-left: 12px;
  width: 108px;
  height: 46px;
  background: #2e80ce;
  border-radius: 4px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #ffffff;
  border: none;
}

.footer__way {
  width: 100%;
  height: 1px;
  background: #406181;
}
.footer__desc {
  margin-top: 28px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: #aab3ba;
}
